.home-page {
  height: 100vh;
}

.video-list {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.video {
  height: 95vh;
  display: flex;
  margin-left: 20%;
  margin-bottom: 30px;
}

.video-container {
  position: relative;
  width: 400px;
  height: 95vh;
  border-radius: 10px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-name,
.desc {
  position: absolute;
  left: 10px;
  color: white;
  z-index: 2;
}

.user-name {
  bottom: 65px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  cursor: pointer;
}

.user-name:hover {
  text-decoration: underline;
}

.desc {
  bottom: 15px;
  font-size: 17px;
  opacity: 0.9;
  max-width: 300px;
  word-wrap: break-word;
}

.video-info {
  width: 60px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.video-info div {
  width: 60px;
  height: 60px;
}

.video-info button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50%;
}

.video-info button:hover {
  cursor: pointer;
}

.user-info button {
  border: 5px solid black;
}
